maquina{
	md-icon{
		height:100%;
	}
	.md-whiteframe-5dp {
		h3 {
			margin-top: 0;
			margin-bottom: 0;
		}
		margin-bottom: 20px;
		background-color: rgb(252,226,115);
	}
.md-whiteframe-5dpa {
		h3 {
			margin-top: 0;
			margin-bottom: 0;
		}
		margin-bottom: 20px;
		background-color: rgb(255,216,52);
	}
	.select{
		margin-top: -15px;
	}

body {
  margin: 0;
}

.wrapper {
  position: relative;
}

.wrapper p {
  bottom: 80%;
  color: black;
  font-family: arial;
  font-size: 1em;
  left: 0;
  padding: 0.25em 0.75em;
  position: absolute;
}



}
