<!-- <div layout="row" layout-align="space-between" layout-padding layout-margin> -->
<div layout="row" center center flex> 
<div flex layout="column" layout-align="center center" layout-padding layout-margin>
<p  style="color: black; font-size: 25px; font-weight: bold; text-align: center"> MÁQUINA</p>
</div>
<div flex layout="row" layout-align="center" layout-padding layout-margin>
		<!--	<md-button ng-click="Maquina.update()" class="md-raised md-warn" style="background-color:rgb(153, 38, 0); border-radius: 5px;" >
		Activar
			</md-button>-->
			<md-button ng-click="Maquina.update()" class="md-raised md-primary" style="background-color:rgb(153, 153, 153); border-radius: 5px;" >
		Guardar
			</md-button> 
</div>		
	<div flex layout="column" layout-align="center center" layout-padding layout-margin>
			<p  style="color: gray; font-size: 25px; font-weight: bold; text-align: center">CÓDIGO - TICKET - ROLLOS</p>
	</div>
</div>

<div layout="row" layout-align="center start">
	<div flex layout-padding>
				<div class="tooltip" style="color:rgb(255,192,0)">i
  <span class="tooltiptext">---------------------------------- <br> CÓDIGO ETIQUETA<br>---------------------------------- <br><br> Modo P: Producción<br>  <br> Mes D: Envío o Abono <br> Mes AUTO: Esporádicos,Consigna...      <br><br>  • Códigos de EVENTOS: <br> CHaa (Impreso en Filatelia Chamartín)<br> <br> JUaa: JUVENIA <br> PMaa: PLAZA MAYOR <br> EXaa: EXFILNA <br> •  <br></span>
</div>
		<form layout="column" layout-align="center" layout-padding>	
			<div class="md-whiteframe-5dp" flex style="background-color:rgb(255,192,0)">
				<input type="checkbox" ng-model="checked1" aria-label="Toggle ngShow"><h3 ng-mousemove="Maquina.update()">CÓDIGO ETIQUETA: {{Maquina.elmes}}-{{Maquina.nombre}}</h3>
			<!--
<label ng-mousemove="Maquina.update()" style="color: black; font-size: 19px; font-weight: bold;"> CÓDIGO ETIQUETA</label><br />
				<h3 ng-mousemove="Maquina.update()">CÓDIGO ETIQUETA</h3> -->
			</div>

		<div class="check-element funky-show-hide" ng-show="checked1">

			<div layout="row" layout-align="center center" layout-margin>
<!--<md-button ng-click="Maquina.update()" class="md-raised md-primary">
		ACTIVAR CAMBIOS
		</md-button>-->
			
				<md-input-container flex="5">
					<label>Modo</label>
					<input ng-model="Maquina.modo" maxlength="1" minlength="1">
				</md-input-container>

				<md-input-container class="select">
					<label>Mes</label>
					<md-select ng-model="Maquina.mes" style="color:red">
						<md-option ng-value="0">Auto</md-option>
						<md-option ng-value="1">1</md-option>
						<md-option ng-value="2">2</md-option>
						<md-option ng-value="3">3</md-option>
						<md-option ng-value="4">4</md-option>
						<md-option ng-value="5">5</md-option>
						<md-option ng-value="6">6</md-option>
						<md-option ng-value="7">7</md-option>
						<md-option ng-value="8">8</md-option>
						<md-option ng-value="9">9</md-option>
						<md-option ng-value="10">O</md-option>
						<md-option ng-value="11">N</md-option>
						<md-option ng-value="12">D</md-option>
					</md-select>
				</md-input-container>

				<md-input-container flex="5">
					<label>País</label>
					<input ng-model="Maquina.pais" maxlength="2" minlength="2">
				</md-input-container>				

				<div layout="column" style="margin-top:16px">
					<md-input-container flex class="select">
						<label>Año</label>
						<md-select ng-model="Maquina.modoAnnio">
							<md-option ng-value="1">Auto</md-option>
							<md-option ng-value="2">Manual</md-option>
						</md-select>
					</md-input-container>
					<md-input-container ng-show="Maquina.modoAnnio=='2'">
						<label>Año</label>
						<input ng-model="Maquina.annioManual" max="99" min="0" type="number">
					</md-input-container>
				</div>
				<div layout="column" style="margin-top:16px">
					<md-input-container>
						<label>Código Evento</label>
						<input ng-model="Maquina.nombre" minlength="4" maxlength="4" style="color:red">
						<!--<input ng-model="Maquina.nombre" style="color:red" disabled>-->
					</md-input-container>
				</div>
				<md-input-container style="margin-top:40px;" flex="10">
					<label>ID Cliente</label>
					<input ng-model="Maquina.idCliente" style="color:red">

					
					<md-button ng-click="Maquina.idCliente=1" class="md-raised">
						Reset al inicio del año
					</md-button>
				</md-input-container>
				<!-- <md-input-container>
					<label>ID Producto</label>
					<input ng-model="Maquina.idProducto" style="color:red" disabled>
				</md-input-container> -->
				<md-input-container ng-init="Maquina.idProductoS='001'">
					<label>ID Producto</label>
					<input ng-model="Maquina.idProductoS" disabled>
				</md-input-container>
			</div>
			</div>

			<div class="md-whiteframe-5dp" flex style="background-color:rgb(255,192,0)">
			<input type="checkbox" ng-model="checked2" aria-label="Toggle ngShow"><h3 ng-mousemove="Maquina.update()">TICKET: {{Maquina.titulo}}</h3>
			</div>
<!-- TIPO DE DOCUMENTO:  -->
		<div class="check-element funky-show-hide" ng-show="checked2">

		<div layout="row" layout-align="center">
			<div flex layout="column" layout-align="top">	

<!-- FERIA y LUGAR:  -->
			 <div class="md-whiteframe-5dp">
				<h3>Cabecera Ticket</h3>
			</div>
			<p style="font-size: 20px; font-weight: bold; text-align: center">{{Maquina.feria}} <br> {{Maquina.lugar}}</p>

						<p style="color:red;"></p>
			<div class="md-whiteframe-5dp">
				<h3>Empresa</h3>
			</div>
			<md-input-container style="margin-top:0; margin-bottom: 0; padding-top: 0; padding-bottom: 0; width:400px;">
				<label>Empresa</label>
				<input ng-model="Maquina.empresa">
			</md-input-container>

			<md-input-container style="margin-top:0; margin-bottom: 0; padding-top: 0; padding-bottom: 0; width:400px;">
				<label>CIF</label>
				<input ng-model="Maquina.cif">
			</md-input-container>

			<md-input-container style="margin-top:0; margin-bottom: 0; padding-top: 0; padding-bottom: 0; width:400px;">
				<!-- <md-input-container style="margin-top:0; margin-bottom: 0; padding-top: 0; padding-bottom: 0; width:400px; border-bottom: 2px solid black;"> -->
				<label>CP Población</label>
				<input ng-model="Maquina.cp">
			</md-input-container>
			<p style="color:red;"></p>
			<div class="md-whiteframe-5dp">
				<h3>Pié del Ticket</h3>
			</div>
			<md-input-container style="margin-top:0; margin-bottom: 0; padding-top: 0; padding-bottom: 0; width:400px;">
				<label>Detalle línea 1</label>
				<input ng-model="Maquina.l1">
			</md-input-container>

			<md-input-container style="margin-top:0; margin-bottom: 0; padding-top: 0; padding-bottom: 0; width:400px;">
				<label>Detalle línea 2</label>
				<input ng-model="Maquina.l2">
			</md-input-container>

			<md-input-container style="margin-top:0; margin-bottom: 0; padding-top: 0; padding-bottom: 0; width:400px;">
				<label>Detalle línea 3</label>
				<input ng-model="Maquina.l3">
			</md-input-container>

		</div>
			<div flex>	
			</div>

		<div flex layout="column" layout-align="top">
		<div class="md-whiteframe-5dp">
				<h3>Tipo de Documento</h3>
			</div>
		<md-input-container style="margin-top:0; margin-bottom: 0; padding-top: 0; padding-bottom: 0; width:400px;">
			<label>Título ticket (Sólo Perfil FERIA)</label>
			<input ng-model="Maquina.eltitulo" style="color:red">
		</md-input-container>
		<md-input-container style="margin-top:0; margin-bottom: 0; padding-top: 0; padding-bottom: 0; width:400px;">
			<label>Título ticket copia (Perfil Activo)</label>
			<input ng-model="Maquina.tituloCopia" disabled="">
		</md-input-container>
		<md-input-container style="margin-top:0; margin-bottom: 0; padding-top: 0; padding-bottom: 0; width:400px;">
			<label>Límite importe</label>
			<input ng-model="Maquina.limiteImporte" style="color:red">
		</md-input-container>
			
			<p style="color:red;"></p>
			<div class="md-whiteframe-5dp">
				<h3>Modo Fecha Ticket</h3>
			</div>

			<md-input-container>
				<label>Fecha</label>
				<md-select ng-model="Maquina.modoFecha">
					<md-option ng-value="1">Automático</md-option>
					<md-option ng-value="2">Manual</md-option>
				</md-select>
			</md-input-container>
			<md-input-container ng-show="Maquina.modoFecha=='2'">
				<label>Fecha</label>
				<!-- <md-datepicker ng-model="Maquina.fechaManual"></md-datepicker> -->
				<input ng-model="Maquina.fechaManual">
			</md-input-container>

			<md-input-container>
				<label>Hora</label>
				<md-select ng-model="Maquina.modoHora">
					<md-option ng-value="1">Automático</md-option>
					<md-option ng-value="2">Manual</md-option>
				</md-select>
			</md-input-container>
			<md-input-container ng-show="Maquina.modoHora=='2'">
				<label>Hora</label>
				<input ng-model="Maquina.horaManual">
			</md-input-container>

		</div>
		</div>
		</div>
<!-- ROLLOS ETIQUETAS:  rgb(51, 102, 153) rgb(153, 102, 51)-->
		<div layout="column" layout-align="center center">
		<div class="md-whiteframe-5dp">
					<h3>Máximo Nº de Tickets</h3>
			</div>

				<md-input-container style="margin-top:0; margin-bottom: 0; padding-top: 0; padding-bottom: 0; width:400px;">
					<!-- <md-input-container style="margin-top:0; margin-bottom: 0; padding-top: 0; padding-bottom: 0; width:400px; border-bottom: 2px solid black;"> -->
					<label>Cantidad por Rollo</label>
					<input ng-model="Maquina.limiteTickets" style="color:red">
				</md-input-container>
			<div layout="column" style="background-color:rgb(51, 102, 153); border-radius: 5px;" layout-align="center center">
				<md-input-container>
					<label style="color:white;">Rollo Tickets</label>
					<input ng-model="Maquina.tickets" style="color:white;">
				</md-input-container>
				<md-button ng-click="Maquina.tickets=Maquina.limiteTickets" class="md-raised">
					Reset
				</md-button>
			</div>
			</div>


		<div class="md-whiteframe-5dp" flex style="background-color:rgb(255,192,0)">
			<h3>ROLLOS ETIQUETAS EN MÁQUINA</h3>
		</div>

		<div layout="row" layout-align="center">
	
			<div flex layout="column" layout-align="center">

			<img ng-src="{{'img/sellos/'+Maquina.nombreModelo1+'.jpg'}}" width="300px;">
			<p  style="color: gray; font-size: 10px; font-weight: bold; text-align: center"></p>
		<!--	<p style="color:red; font-size: 20px"> {{Maquina.nombreModelo1}}</p>


				<md-input-container>
					<label>Código {{Maquina.nombreModelo1}}: M0000</label>
					<input ng-model="Maquina.codigoM1">
				</md-input-container>
				<md-input-container>
					<label>Código Rollo: R00</label>
					<input ng-model="Maquina.codigoR1">
				</md-input-container> -->
			<div ng-if="Maquina.rollo1 != -1">
				<div class="md-whiteframe-5dp" flex>
					<h3>Motivo {{Maquina.nombreModelo1}}</h3>
				</div>

				<md-input-container style="margin-top:0; margin-bottom: 0; padding-top: 0; padding-bottom: 0; width:400px;">
					<label>Existencias</label>
					<input ng-model="Maquina.rollo1" style="font-size: 20px; color: black;">
				</md-input-container>
				<md-input-container style="margin-top:0; margin-bottom: 0; padding-top: 0; padding-bottom: 0; width:400px;">
					<label>VISUAL: etiquetas en rollo</label>
					<input ng-model="Maquina.cv1">
				</md-input-container> 
			<!--	<md-button href="/#" class="md-raised md-primary"> -->
				<md-button ng-click="Maquina.Quitar1(); Maquina.rollo1=-1; Maquina.cv1=0" class="md-raised md-primary" style="background-color:rgb(153, 38, 0); border-radius: 5px;">
					CONFIRMAR ROLLO QUITADO
				</md-button>
			</div>	

			</div>

			<div flex>
			</div>

			<div flex layout="column" layout-align="center">
			<img ng-src="{{'img/sellos/'+Maquina.nombreModelo2+'.jpg'}}" width="300px;">
			<p  style="color: gray; font-size: 10px; font-weight: bold; text-align: center"></p>
			<!--	<p style="color:red;  font-size: 20px"> {{Maquina.nombreModelo2			}} 
			</p>

				<md-input-container>
					<label>Código {{Maquina.nombreModelo2}}: M0000</label>
					<input ng-model="Maquina.codigoM2">
				</md-input-container>
				<md-input-container>
					<label>Código Rollo: R00</label>
					<input ng-model="Maquina.codigoR2">
				</md-input-container> -->
				<div ng-if="Maquina.rollo2 != -1">
			
					<div class="md-whiteframe-5dp" flex>
					<h3>Motivo {{Maquina.nombreModelo2}}</h3>
				</div>
				<md-input-container style="margin-top:0; margin-bottom: 0; padding-top: 0; padding-bottom: 0; width:400px;">
					<label>Existencias</label>
					<input ng-model="Maquina.rollo2" style="font-size: 20px; color: black;">
				</md-input-container>
				<md-input-container style="margin-top:0; margin-bottom: 0; padding-top: 0; padding-bottom: 0; width:400px;">
					<label>VISUAL: etiquetas en rollo</label>
					<input ng-model="Maquina.cv2">
				</md-input-container>
				<md-button ng-click="Maquina.Quitar2(); Maquina.rollo2=-1; Maquina.cv2=0" class="md-raised md-primary" style="background-color:rgb(153, 38, 0); border-radius: 5px;">
					CONFIRMAR ROLLO QUITADO
				</md-button>	
			</div>
	
			</div>
		</div>

<!-- 2 VARIABLES A LA VEZ: 
<md-button ng-click="(Maquina.rollo2=Maquina.cantidad2-Maquina.desechadas2) ( Maquina.bloqueado='BLOQUEADO')" class="md-raised md-primary" style="background-color:rgb(153, 153, 153); border-radius: 5px;">
 -->
 <div class="md-whiteframe-5dp" flex style="background-color:rgb(255,192,0)">
			<h3>INSTALAR ROLLOS ETIQUETAS</h3>
		</div>
		<div layout="row" layout-align="center">

<div ng-if="Maquina.rollo1 == -1">
		<div flex layout="column" layout-align="center">	
				<div class="md-whiteframe-5dp" flex>
					<h3>Colocar rollo {{Maquina.nombreModelo1}}</h3>
				</div>
				<md-input-container style="margin-top:0; margin-bottom: 0; padding-top: 0; padding-bottom: 0; width:400px;">
					<label>Etiquetas en rollo</label>
					<input ng-model="Maquina.cantidad1">
				</md-input-container>
				<md-input-container style="margin-top:0; margin-bottom: 0; padding-top: 0; padding-bottom: 0; width:400px;">
					<label>Desechadas en la instalación</label>
					<input ng-model="Maquina.desechadas1">
				</md-input-container>
				<md-button ng-click="Maquina.Colocar1(); (Maquina.rollo1=Maquina.cantidad1-Maquina.desechadas1)"  class="md-raised md-primary" style="background-color:rgb(153, 153, 153); border-radius: 5px;">
					CONFIRMAR COLOCACIÓN ROLLO
				</md-button>
			</div>
			</div>

			<div flex>
			</div>

<div ng-if="Maquina.rollo2 == -1">
			<div flex layout="column" layout-align="center">
				<div class="md-whiteframe-5dp" flex>
					<h3>Colocar rollo {{Maquina.nombreModelo2}}</h3>
				</div>
				<md-input-container style="margin-top:0; margin-bottom: 0; padding-top: 0; padding-bottom: 0; width:400px;">
					<label>Etiquetas en rollo</label>
					<input ng-model="Maquina.cantidad2">
				</md-input-container>
				<md-input-container style="margin-top:0; margin-bottom: 0; padding-top: 0; padding-bottom: 0; width:400px;">
					<label>Desechadas en la instalación</label>
					<input ng-model="Maquina.desechadas2">
				</md-input-container>

				<md-button ng-click="Maquina.Colocar2(); (Maquina.rollo2=Maquina.cantidad2-Maquina.desechadas2)" class="md-raised md-primary" style="background-color:rgb(153, 153, 153); border-radius: 5px;">
					CONFIRMAR COLOCACIÓN ROLLO
				</md-button>	
			</div>
			</div>

		</div>

			<div layout="column" layout-align="center center">
					<div ng-if="Maquina.rollo1+Maquina.rollo2 == -2">
					<div layout="column" style="background-color:rgb(0, 153, 51); border-radius: 5px;" layout-align="center center">
					<md-input-container>
					<label style="color:white";>Evento</label>
						<input ng-model="Maquina.bloqueado='DESBLOQUEADO'"  style="font-size: 20px; color: white;" disabled>
						</md-input-container>
						</div>
					</div>
					<div ng-if="Maquina.rollo1+Maquina.rollo2 != -2">
					<div layout="column" style="background-color:rgb(153, 38, 0); border-radius: 5px;" layout-align="center center">
					<md-input-container>
					<label style="color:white";>Evento</label>
						<input ng-model="Maquina.bloqueado='BLOQUEADO'"  style="font-size: 20px; color: white;" disabled>
						</md-input-container>
					</div>
					</div>
				
			</div>
	</form>
</div>


</div>
<div layout="row" layout-align="center center" layout-padding layout-margin>
	<!--<md-button ng-click="Maquina.update()" class="md-raised md-warn" style="background-color:rgb(153, 38, 0); border-radius: 5px;" >
					Activar Cambios
				</md-button>
	<!--<md-button ng-click="Maquina.update()" class="md-raised md-primary" style="background-color:rgb(153, 153, 153); border-radius: 5px;" >
		GUARDAR
	</md-button>-->

	<md-button href="/afkar" class="md-raised">
		Cancelar
	</md-button>

</div>

