	<div layout="row" center center flex> 
<div flex layout="column" layout-align="center center" layout-padding layout-margin>
<p  style="color: black; font-size: 25px; font-weight: bold; text-align: center"> CONFIGURACIÓN</p>
</div>
<div flex layout="row" layout-align="center" layout-padding layout-margin>
			<md-button ng-click="Imprimir.update()" class="md-raised md-warn" style="background-color:rgb(153, 153, 153); border-radius: 5px;" >
		GUARDAR e ir al MENÚ MÁQUINA Y GUARDAR
			</md-button> 
	</div>		
	<div flex layout="column" layout-align="center center" layout-padding layout-margin>
			<p  style="color: gray; font-size: 25px; font-weight: bold; text-align: center">PERFIL - EVENTOS - TARIFAS</p>
	</div>
</div>

<div flex layout-padding>


		<div class="md-whiteframe-5dp" flex style="background-color:rgb(255,192,0)">
		<!-- 		<input type="checkbox" ng-model="checked1" aria-label="Toggle ngShow"><br /> -->
				<h3 ng-mousemove="Imprimir.update()">PERFIL - MODO DE VENTA</h3>
		</div>
<div class="tooltip" style="color:rgb(255,192,0)">i

  <span class="tooltiptext">IMPORTANTE: <br>Después de cambiar el PERFIL ir al MENÚ MÁQUINA Y GUARDAR<br> ---------------------------------- <br> P E R F I L E S<br>(Se asignarán como título del ticket a excepción de FERIA)<br>---------------------------------- <br><br> FILATELIA<br> • Pruebas de ajuste, impresión y nuevos eventos <br> (Se quedan en CHAMARTÍN para su posterior DESTRUCCIÓN) <br>  ---------------------------------- <br>ESPORÁDICOS/ALMACÉN<br> • Peticiones de pedidos on-line <br>---------------------------------- <br> CONSIGNA/PROTOCOLO <br> • Uso INTERNO / Campo de la Naciones / Venta INTERNACIONAL <br>  ---------------------------------- <br>ENVÍO/ABONO <br> • Pedidos ABONO año en curso <br>  <br>---------------------------------- <br> FERIA <br> • Venta al Público <br> </span>
</div>
		<!-- <div class="check-element funky-show-hide" ng-show="checked1"> -->
		<div layout="column" layout-align="center center">
		<md-input-container style="margin-top:0; margin-bottom: 0; padding-top: 0; padding-bottom: 0; width:350px; color:blue; font-size: 20px">
			<label style="color: red; font-size: 20px; font-weight: bold;">Ir a Menú MÁQUINA y GUARDAR</label>
			<md-select ng-model="Imprimir.elperfil" style="width:250px">
				<md-option ng-value="1">{{Imprimir.nperfil1}}</md-option>
				<md-option ng-value="2">{{Imprimir.nperfil2}}</md-option>
				<md-option ng-value="3">{{Imprimir.nperfil3}}</md-option>
				<md-option ng-value="4">{{Imprimir.nperfil4}}</md-option>
				<md-option ng-value="5">{{Imprimir.nperfil5}}</md-option>
				<md-option ng-value="6">{{Imprimir.nperfil6}}</md-option>
			<!--	campo Imprimir.modo o Imprimir.elperfil
			<md-option ng-value="0">FILATELIA</md-option>
				<md-option ng-value="1">Esporádicos</md-option>
				<md-option ng-value="2">Consigna</md-option>
				<md-option ng-value="3">Envío</md-option>
				<md-option ng-value="4">FERIA</md-option> -->
			</md-select>
		</md-input-container>
			<!--	<md-button ng-click="Imprimir.update()" class="md-raised md-primary">
		ACTIVAR
				</md-button>-->
		</div>
		

			<div class="md-whiteframe-5dp" flex style="background-color:rgb(255,192,0)">
				<h3 ng-mousemove="Imprimir.update()">EVENTO: {{Imprimir.bloqueado}}</h3>
			</div>	


	<div layout="row" layout-align="center start" layout-padding>
			<!-- https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_tooltip -->				
<div class="tooltip1" style="color:rgb(255,192,0)">i
  <span class="tooltiptext1">---------------------------------- <br> EVENTO BLOQUEADO<br>---------------------------------- <br><br> Para desbloquear el EVENTO ACTUAL:<br><br> • Vaya al MENÚ MÁQUINA <br>  • Quite los rollos de la impresora <br> • Indique la cantidad VISUAL de etiquetas exsistentes <br> (Si no queda ninguna la expulsión es automática) <br> • Pulse: CONFIRMAR ROLLO QUITADO <br> <br>---------------------------------- <br> Con los 2 ROLLOS QUITADOS:  <br><br> • Vuelva al MENÚ CONFIGURACIÓN <br> • Cambie a otro EVENTO <br> </span>
</div>
		<form layout="column" flex layout-align="center center" layout-padding>
	<div ng-if="Imprimir.bloqueado == 'DESBLOQUEADO'">
		<md-input-container style="margin-top:0; margin-bottom: 0; padding-top: 0; padding-bottom: 0; width:200px; color:red; font-size: 20px; width:200px;">
				<label>EVENTO</label>
			<md-select ng-model="Imprimir.elevento" style="width:250px; ">
				<md-option ng-value="0">{{Imprimir.nevento0}}</md-option>
				<md-option ng-value="1">{{Imprimir.nevento1}}</md-option>
				<md-option ng-value="2">{{Imprimir.nevento2}}</md-option>
				<md-option ng-value="3">{{Imprimir.nevento3}}</md-option>
				<md-option ng-value="4">{{Imprimir.nevento4}}</md-option>
				<md-option ng-value="5">{{Imprimir.nevento5}}</md-option>
				<md-option ng-value="6">{{Imprimir.nevento6}}</md-option>
				<md-option ng-value="7">{{Imprimir.nevento7}}</md-option>
			</md-select>
			</md-input-container>
			<md-button ng-click="Imprimir.update()" class="md-raised md-primary">
		ACTIVAR
		</md-button>
		</div>	
			<div ng-if="Imprimir.bloqueado == 'BLOQUEADO'">
		<md-input-container style="margin-top:0; margin-bottom: 0; padding-top: 0; padding-bottom: 0; width:200px; color:red; font-size: 20px;">
				<label>EVENTO</label>
			<md-select ng-model="Imprimir.elevento" style="width:250px; " disabled>
				<md-option ng-value="0">{{Imprimir.nevento0}}</md-option>
				<md-option ng-value="1">{{Imprimir.nevento1}}</md-option>
				<md-option ng-value="2">{{Imprimir.nevento2}}</md-option>
				<md-option ng-value="3">{{Imprimir.nevento3}}</md-option>
				<md-option ng-value="4">{{Imprimir.nevento4}}</md-option>
				<md-option ng-value="5">{{Imprimir.nevento5}}</md-option>
				<md-option ng-value="6">{{Imprimir.nevento6}}</md-option>
				<md-option ng-value="7">{{Imprimir.nevento7}}</md-option>
			</md-select>
			</md-input-container>
		</div>
							<!-- ELEVENTO: FILTRO INFORMES 
			<p style="font-size: 25px; font-weight: bold; text-align: center">{{Imprimir.elevento}}</p>-->
		
			<p  style="color: black; font-size: 25px; font-weight: bold; text-align: center">{{Imprimir.feria}}<br>
			   {{Imprimir.lugar}}</p>

	<div layout="row" layout-margin>
	<div layout="column" layout-margin>
			<p style="color: black; font-size: 20px; font-weight: bold; text-align: center">{{Imprimir.nombreModelo1}}</p>

	<div class="wrapper">	
	<img ng-src="{{'img/sellos/'+Imprimir.nombreModelo1+'.jpg'}}" width="350px;">
	<p style="color: black; font-size: 19px; font-weight: bold; text-align: left;">     {{Imprimir.fechaInstalacion}}<br>{{Imprimir.evento}}</p>
	</div>

		<!--<img ng-src="{{Imprimir.modelo1}}" width="200px;">
		<subir-imagen files="Imprimir.imagenModelo1" name="Modelo1"></subir-imagen>-->	
		</div>
		<div layout="column" layout-margin>	
		<p style="color: black; font-size: 20px; font-weight: bold; text-align: center">{{Imprimir.nombreModelo2}}</p>

		<!--<img ng-src="{{Imprimir.modelo2}}" width="200px;">
		<subir-imagen files="Imprimir.imagenModelo2" name="Modelo2"></subir-imagen>-->
		<div class="wrapper">
<img ng-src="{{'img/sellos/'+Imprimir.nombreModelo2+'.jpg'}}" width="350px;">
<p style="color: black; font-size: 19px; font-weight: bold; text-align: left;">     {{Imprimir.fechaInstalacion}}<br>{{Imprimir.evento}}</p>
</div>
</div>
</div>
	</form>

</div>


<div flex layout-padding>
			<div class="md-whiteframe-5dp" flex style="background-color:rgb(255,192,0)">
			<h3>EDITAR EVENTOS</h3>
			</div>
			<div class="tooltip" style="color:rgb(255,192,0)">i
  <span class="tooltiptext">---------------------------------- <br>ALTAS EVENTOS<br>---------------------------------- <br><br> • TICKET: 1ª y 2º línea<br> • ETIQUETA: 1ª y 2º línea <br> <br>---------------------------------- <br> "NOMBRE" MOTIVO<br>---------------------------------- <br><br> • Concepto para el ticket <br> • Imágen a mostrar <br><br> Copiar el fichero 
  "NOMBRE".JPG en la carpeta <br>  ..\..\correos\correos-webapp\public\img\sellos <br> ---------------------------------- <br></span>
</div>		
		</div>

	<form>
 		 SELECCIONE:
 		 <input type="radio" ng-model="myVar" value="99">
  		 <input type="radio" ng-model="myVar" value="0">{{Imprimir.nevento0}}
 		 <input type="radio" ng-model="myVar" value="1">{{Imprimir.nevento1}}
		 <input type="radio" ng-model="myVar" value="2">{{Imprimir.nevento2}}
		 <input type="radio" ng-model="myVar" value="3">{{Imprimir.nevento3}}
		 <input type="radio" ng-model="myVar" value="4">{{Imprimir.nevento4}}
 		 <input type="radio" ng-model="myVar" value="5">{{Imprimir.nevento5}}
		 <input type="radio" ng-model="myVar" value="6">{{Imprimir.nevento6}}
 		 <input type="radio" ng-model="myVar" value="7">{{Imprimir.nevento7}} 
</div>

<div layout="row" layout-align="center start" layout-padding>
<div ng-switch="myVar">

<div ng-switch-when="99">
</div>

  		<div ng-switch-when="0">
		<form layout="column" flex layout-align="center center" layout-padding>
			<md-input-container style="width:250px">
				<label>Evento 1</label>
				<input ng-model="Imprimir.nevento0" style="color: red; font-size: 25px; font-weight: bold; text-align: center">
			</md-input-container>
		<div layout="row" layout-margin>
			<md-input-container style="width:250px">
				<label>Feria Ticket</label>
				<input ng-model="Imprimir.nferia0">
			</md-input-container>
		</div>
		<div layout="row" layout-margin>
			<md-input-container style="width:250px">
				<label>Lugar Ticket</label>
				<input ng-model="Imprimir.nlugar0">
			</md-input-container>
		</div>
		<div layout="row" layout-margin>
			<md-input-container style="width:250px">
				<label>Fechas Etiqueta</label>
				<input ng-model="Imprimir.fecha0">
			</md-input-container>
		</div>
		<div layout="row" layout-margin>
			<md-input-container style="width:250px">
				<label>Localidad Etiqueta</label>
				<input ng-model="Imprimir.localidad0" >
			</md-input-container>
		</div>
		<div layout="row" layout-margin>
			<md-input-container style="width:300px">
				<label>Motivo izquierda</label>
				<input ng-model="Imprimir.motivoi0">
				<img ng-src="{{'img/sellos/'+Imprimir.motivoi0+'.jpg'}}" width="300px;">
			</md-input-container>

			<md-input-container style="width:300px">
				<label>Motivo derecha</label>
				<input ng-model="Imprimir.motivod0">
				<img ng-src="{{'img/sellos/'+Imprimir.motivod0+'.jpg'}}" width="300px;">
			</md-input-container>
		</div>
		</form>
		</div>


		<div ng-switch-when="1">
		<form layout="column" flex layout-align="center center" layout-padding>
				<md-input-container style="width:250px">
				<label>Evento 2</label>
				<input ng-model="Imprimir.nevento1" style="color: red; font-size: 25px; font-weight: bold; text-align: center">
			</md-input-container>
		<div layout="row" layout-margin>
			<md-input-container style="width:250px">
				<label>Feria Ticket</label>
				<input ng-model="Imprimir.nferia1">
			</md-input-container>
		</div>
		<div layout="row" layout-margin>
			<md-input-container style="width:250px">
				<label>Lugar Ticket</label>
				<input ng-model="Imprimir.nlugar1">
			</md-input-container>
		</div>
		<div layout="row" layout-margin>
			<md-input-container style="width:250px">
				<label>Fechas Etiqueta</label>
				<input ng-model="Imprimir.fecha1">
			</md-input-container>
		</div>
		<div layout="row" layout-margin>
			<md-input-container style="width:250px">
				<label>Localidad Etiqueta</label>
				<input ng-model="Imprimir.localidad1" >
			</md-input-container>
		</div>
		<div layout="row" layout-margin>
			<md-input-container style="width:300px">
				<label>Motivo izquierda</label>
				<input ng-model="Imprimir.motivoi1">
				<img ng-src="{{'img/sellos/'+Imprimir.motivoi1+'.jpg'}}" width="300px;">
			</md-input-container>

			<md-input-container style="width:300px">
				<label>Motivo derecha</label>
				<input ng-model="Imprimir.motivod1">
				<img ng-src="{{'img/sellos/'+Imprimir.motivod1+'.jpg'}}" width="300px;">
			</md-input-container>
		</div>
		</form>
	</div>

<div ng-switch-when="2">
		<form layout="column" flex layout-align="center center" layout-padding>
			<md-input-container style="width:250px">
				<label>Evento 3</label>
				<input ng-model="Imprimir.nevento2" style="color: red; font-size: 25px; font-weight: bold; text-align: center">
			</md-input-container>
		<div layout="row" layout-margin>
			<md-input-container style="width:250px">
				<label>Feria Ticket</label>
				<input ng-model="Imprimir.nferia2">
			</md-input-container>
		</div>
		<div layout="row" layout-margin>
			<md-input-container style="width:250px">
				<label>Lugar Ticket</label>
				<input ng-model="Imprimir.nlugar2">
			</md-input-container>
		</div>
		<div layout="row" layout-margin>
			<md-input-container style="width:250px">
				<label>Fechas Etiqueta</label>
				<input ng-model="Imprimir.fecha2">
			</md-input-container>
		</div>
		<div layout="row" layout-margin>
			<md-input-container style="width:250px">
				<label>Localidad Etiqueta</label>
				<input ng-model="Imprimir.localidad2" >
			</md-input-container>
		</div>
		<div layout="row" layout-margin>
			<md-input-container style="width:300px">
				<label>Motivo izquierda</label>
				<input ng-model="Imprimir.motivoi2">
				<img ng-src="{{'img/sellos/'+Imprimir.motivoi2+'.jpg'}}" width="300px;">
			</md-input-container>

			<md-input-container style="width:300px">
				<label>Motivo derecha</label>
				<input ng-model="Imprimir.motivod2">
				<img ng-src="{{'img/sellos/'+Imprimir.motivod2+'.jpg'}}" width="300px;">
			</md-input-container>
		</div>
		</form>
	</div>

<div ng-switch-when="3">
		<form layout="column" flex layout-align="center center" layout-padding>
				<md-input-container style="width:250px">
				<label>Evento 4</label>
				<input ng-model="Imprimir.nevento3" style="color: red; font-size: 25px; font-weight: bold; text-align: center">
			</md-input-container>
		<div layout="row" layout-margin>
			<md-input-container style="width:250px">
				<label>Feria Ticket</label>
				<input ng-model="Imprimir.nferia3">
			</md-input-container>
		</div>
		<div layout="row" layout-margin>
			<md-input-container style="width:250px">
				<label>Lugar Ticket</label>
				<input ng-model="Imprimir.nlugar3">
			</md-input-container>
		</div>
		<div layout="row" layout-margin>
			<md-input-container style="width:250px">
				<label>Fechas Etiqueta</label>
				<input ng-model="Imprimir.fecha3">
			</md-input-container>
		</div>
		<div layout="row" layout-margin>
			<md-input-container style="width:250px">
				<label>Localidad Etiqueta</label>
				<input ng-model="Imprimir.localidad3" >
			</md-input-container>
		</div>
		<div layout="row" layout-margin>
			<md-input-container style="width:300px">
				<label>Motivo izquierda</label>
				<input ng-model="Imprimir.motivoi3">
				<img ng-src="{{'img/sellos/'+Imprimir.motivoi3+'.jpg'}}" width="300px;">
			</md-input-container>

			<md-input-container style="width:300px">
				<label>Motivo derecha</label>
				<input ng-model="Imprimir.motivod3">
				<img ng-src="{{'img/sellos/'+Imprimir.motivod3+'.jpg'}}" width="300px;">
			</md-input-container>
		</div>
		</form>
	</div>
<div ng-switch-when="4">
		<form layout="column" flex layout-align="center center" layout-padding>
					<md-input-container style="width:250px">
				<label>Evento 5</label>
				<input ng-model="Imprimir.nevento4" style="color: red; font-size: 25px; font-weight: bold; text-align: center">
			</md-input-container>
		<div layout="row" layout-margin>
			<md-input-container style="width:250px">
				<label>Feria Ticket</label>
				<input ng-model="Imprimir.nferia4">
			</md-input-container>
		</div>
		<div layout="row" layout-margin>
			<md-input-container style="width:250px">
				<label>Lugar Ticket</label>
				<input ng-model="Imprimir.nlugar4">
			</md-input-container>
		</div>
		<div layout="row" layout-margin>
			<md-input-container style="width:250px">
				<label>Fechas Etiqueta</label>
				<input ng-model="Imprimir.fecha4">
			</md-input-container>
		</div>
		<div layout="row" layout-margin>
			<md-input-container style="width:250px">
				<label>Localidad Etiqueta</label>
				<input ng-model="Imprimir.localidad4" >
			</md-input-container>
		</div>
		<div layout="row" layout-margin>
			<md-input-container style="width:300px">
				<label>Motivo izquierda</label>
				<input ng-model="Imprimir.motivoi4">
				<img ng-src="{{'img/sellos/'+Imprimir.motivoi4+'.jpg'}}" width="300px;">
			</md-input-container>

			<md-input-container style="width:300px">
				<label>Motivo derecha</label>
				<input ng-model="Imprimir.motivod4">
				<img ng-src="{{'img/sellos/'+Imprimir.motivod4+'.jpg'}}" width="300px;">
			</md-input-container>
		</div>
		</form>
	</div>
<div ng-switch-when="5">
		<form layout="column" flex layout-align="center center" layout-padding>
				<md-input-container style="width:250px">
				<label>Evento 6</label>
				<input ng-model="Imprimir.nevento5" style="color: red; font-size: 25px; font-weight: bold; text-align: center">
			</md-input-container>
		<div layout="row" layout-margin>
			<md-input-container style="width:250px">
				<label>Feria Ticket</label>
				<input ng-model="Imprimir.nferia5">
			</md-input-container>
		</div>
		<div layout="row" layout-margin>
			<md-input-container style="width:250px">
				<label>Lugar Ticket</label>
				<input ng-model="Imprimir.nlugar5">
			</md-input-container>
		</div>
		<div layout="row" layout-margin>
			<md-input-container style="width:250px">
				<label>Fechas Etiqueta</label>
				<input ng-model="Imprimir.fecha5">
			</md-input-container>
		</div>
		<div layout="row" layout-margin>
			<md-input-container style="width:250px">
				<label>Localidad Etiqueta</label>
				<input ng-model="Imprimir.localidad5" >
			</md-input-container>
		</div>
		<div layout="row" layout-margin>
			<md-input-container style="width:300px">
				<label>Motivo izquierda</label>
				<input ng-model="Imprimir.motivoi5">
				<img ng-src="{{'img/sellos/'+Imprimir.motivoi5+'.jpg'}}" width="300px;">
			</md-input-container>

			<md-input-container style="width:300px">
				<label>Motivo derecha</label>
				<input ng-model="Imprimir.motivod5">
				<img ng-src="{{'img/sellos/'+Imprimir.motivod5+'.jpg'}}" width="300px;">
			</md-input-container>
		</div>
		</form>
	</div>

<div ng-switch-when="6">
		<form layout="column" flex layout-align="center center" layout-padding>
				<md-input-container style="width:250px">
				<label>Evento 7</label>
				<input ng-model="Imprimir.nevento6" style="color: red; font-size: 25px; font-weight: bold; text-align: center">
			</md-input-container>
		<div layout="row" layout-margin>
			<md-input-container style="width:250px">
				<label>Feria Ticket</label>
				<input ng-model="Imprimir.nferia6">
			</md-input-container>
		</div>
		<div layout="row" layout-margin>
			<md-input-container style="width:250px">
				<label>Lugar Ticket</label>
				<input ng-model="Imprimir.nlugar6">
			</md-input-container>
		</div>
		<div layout="row" layout-margin>
			<md-input-container style="width:250px">
				<label>Fechas Etiqueta</label>
				<input ng-model="Imprimir.fecha6">
			</md-input-container>
		</div>
		<div layout="row" layout-margin>
			<md-input-container style="width:250px">
				<label>Localidad Etiqueta</label>
				<input ng-model="Imprimir.localidad6" >
			</md-input-container>
		</div>
		<div layout="row" layout-margin>
			<md-input-container style="width:300px">
				<label>Motivo izquierda</label>
				<input ng-model="Imprimir.motivoi6">
				<img ng-src="{{'img/sellos/'+Imprimir.motivoi6+'.jpg'}}" width="300px;">
			</md-input-container>

			<md-input-container style="width:300px">
				<label>Motivo derecha</label>
				<input ng-model="Imprimir.motivod6">
				<img ng-src="{{'img/sellos/'+Imprimir.motivod6+'.jpg'}}" width="300px;">
			</md-input-container>
		</div>
		</form>
	</div>
<div ng-switch-when="7">
		<form layout="column" flex layout-align="center center" layout-padding>
					<md-input-container style="width:250px">
				<label>Evento 8</label>
				<input ng-model="Imprimir.nevento7" style="color: red; font-size: 25px; font-weight: bold; text-align: center">
			</md-input-container>
		<div layout="row" layout-margin>
			<md-input-container style="width:250px">
				<label>Feria Ticket</label>
				<input ng-model="Imprimir.nferia7">
			</md-input-container>
		</div>
		<div layout="row" layout-margin>
			<md-input-container style="width:250px">
				<label>Lugar Ticket</label>
				<input ng-model="Imprimir.nlugar7">
			</md-input-container>
		</div>
		<div layout="row" layout-margin>
			<md-input-container style="width:250px">
				<label>Fechas Etiqueta</label>
				<input ng-model="Imprimir.fecha7">
			</md-input-container>
		</div>
		<div layout="row" layout-margin>
			<md-input-container style="width:250px">
				<label>Localidad Etiqueta</label>
				<input ng-model="Imprimir.localidad7" >
			</md-input-container>
		</div>
		<div layout="row" layout-margin>
			<md-input-container style="width:300px">
				<label>Motivo izquierda</label>
				<input ng-model="Imprimir.motivoi7">
				<img ng-src="{{'img/sellos/'+Imprimir.motivoi7+'.jpg'}}" width="300px;">
			</md-input-container>

			<md-input-container style="width:300px">
				<label>Motivo derecha</label>
				<input ng-model="Imprimir.motivod7">
				<img ng-src="{{'img/sellos/'+Imprimir.motivod7+'.jpg'}}" width="300px;">
			</md-input-container>
		</div>
		</form>
	</div>
</div>
</div>

<div flex layout-padding>
			<div class="md-whiteframe-5dp" flex style="background-color:rgb(255,192,0)">
			<input type="checkbox" ng-model="checked2" aria-label="Toggle ngShow"><label style="color: black; font-size: 19px; font-weight: bold;"> EDITAR PERFILES</label><br />
			<!--	<h3>LISTADO de EVENTOS</h3> -->
			</div>
			<div class="tooltip" style="color:rgb(255,192,0)">i
  <span class="tooltiptext">---------------------------------- <br> PERFILES<br>---------------------------------- <br><br> El nombre del PERFIL será el TÍTULO DEL TICKET<br>  <br>   Exceptuando el Perfil FERIA<br>que será asignado en el campo editable <br>del submenu TICKET.<br>   <br>---------------------------------- <br>  <br>---------------------------------- <br> •  <br>
</div>

	<div class="check-element funky-show-hide" ng-show="checked2">

		<div flex layout-padding layout-column layout-align="center center">

		<div layout="row" layout-align="center center">
			<md-input-container>
				<label>Perfil 1</label>
				<input ng-model="Imprimir.nperfil1" disabled="">
			</md-input-container>
		</div>
		<div layout="row" layout-align="center center">
			<md-input-container>
				<label>Perfil 2</label>
				<input ng-model="Imprimir.nperfil2" disabled="">
				</md-input-container>
		</div>
		<div layout="row" layout-align="center center">
			<md-input-container>
				<label>Perfil 3</label>
				<input ng-model="Imprimir.nperfil3" disabled="">
			</md-input-container>
		</div>
		<div layout="row" layout-align="center center">
			<md-input-container>
				<label>Perfil 4</label>
				<input ng-model="Imprimir.nperfil4" >
			</md-input-container>
		</div>
		<div layout="row" layout-align="center center">
			<md-input-container>
				<label>Perfil 5</label>
				<input ng-model="Imprimir.nperfil5" disabled="">
			</md-input-container>
		</div>
		<div layout="row" layout-align="center center">
			<md-input-container>
				<label>Perfil 6</label>
				<input ng-model="Imprimir.nperfil6" disabled="">
			</md-input-container>
		</div>
	</div>
</div>



<div flex layout-padding>
			<div class="md-whiteframe-5dp" flex style="background-color:rgb(255,192,0)">
			<input type="checkbox" ng-model="checked3" aria-label="Toggle ngShow"><label style="color: black; font-size: 19px; font-weight: bold;"> TARIFA VIGENTE</label><br />
			<!--	<h3>LISTADO de EVENTOS</h3> -->
			</div>
			<div class="tooltip" style="color:rgb(255,192,0)">i
  <span class="tooltiptext">---------------------------------- <br> TARIFA VIGENTE<br>---------------------------------- <br><br> Inicio el 2 de ENERO del año en curso:<br>  <br>   FORMATO: 0.00 €<br> <br> • Los valores del las tiras <br> se efectúan de manera automática. <br>   <br>---------------------------------- <br> TARIFAS: A-A2-B-C  <br>---------------------------------- <br> • El cambio de estas nomenclaturas impresas en las etiquetas, <br> actualmente requiere de programación. <br>
</div>
<!--	AMERICA 1-->
	<div class="check-element funky-show-hide" ng-show="checked3">

		<div flex layout-padding layout-column layout-align="center center">

		<div layout="row" layout-align="center center">
			<md-input-container>
				<label>Tarifa A</label>
				<input ng-model="Imprimir.tarifaAPrecio" >
			</md-input-container>
		</div>
		<div layout="row" layout-align="center center">
			<md-input-container>
				<label>Tarifa A2</label>
				<input ng-model="Imprimir.tarifaA2Precio" >
				</md-input-container>
		</div>
		<div layout="row" layout-align="center center">
			<md-input-container>
				<label>Tarifa B</label>
				<input ng-model="Imprimir.tarifaBPrecio">
			</md-input-container>
		</div>
		<div layout="row" layout-align="center center">
			<md-input-container>
				<label>Tarifa D</label>
				<input ng-model="Imprimir.tarifaCPrecio">
			</md-input-container>
		</div>
		<div layout="row" layout-align="center center">
			<md-input-container>
				<label>TIRA Tarifa A</label>
				<!--<input ng-model="Imprimir.tarifaAPrecio*4" disabled="">-->
				 <input ng-model="Imprimir.tarifaTAPrecio">
			</md-input-container>
			<md-input-container>
				<label>TIRA 4 Tarifas</label>
				<!--<input ng-model="Imprimir.tarifaAPrecio*1+Imprimir.tarifaA2Precio*1+Imprimir.tarifaBPrecio*1+Imprimir.tarifaCPrecio*1" disabled="">-->
				<input ng-model="Imprimir.tarifaT4Precio">
			</md-input-container>
		</div>

	</div>
</div>
</div>

				<!-- | number: 2 <md-option ng-value="0">{{Imprimir.nevento0}}</md-option>-->


	



<div layout="row" layout-align="center center" layout-padding layout-margin>
<!--	<md-button ng-click="Maquina.update()" class="md-raised md-warn" style="background-color:rgb(153, 38, 0); border-radius: 5px;" >
					Activar Cambios
</md-button>
	<md-button ng-click="Maquina.update()" class="md-raised md-primary" style="background-color:rgb(153, 153, 153); border-radius: 5px;" >
	Guardar
	</md-button> -->
	<md-button href="/afkar"  class="md-raised">
		Cancelar
	</md-button> 

</div>