imprimir{
h2{
	font-family: OpenSansRegular;
	font-weight: normal;
	color: #ffcc00;
}
	md-icon{
		height:100%;
	}
	.md-whiteframe-5dp {
		h3 {
			margin-top: 0;
			margin-bottom: 0;
		}
		margin-bottom: 20px;
		background-color: rgb(252,226,115);
	}

	.select{
		margin-top: -15px;
	}
body {
  margin: 0;
}

.wrapper {
  position: relative;
}

.wrapper p {
  bottom: 10%;
  color: black;
  font-family: arial;
  font-size: 2em;
  left: 5;
  padding: 1.25em 1.20em;
  position: absolute;
}



}
