

<div layout-padding class="fondo">
	<!-- <div layout="row" layout-align="center center">
		<div layout="row" layout-align="center center" flex>
			<h3>{{Kiosko.nombreModelo1}}</h3>
		</div>
		<div layout="row" layout-align="center center" flex>
			<h3>{{Kiosko.nombreModelo2}}</h3>
		</div>
	</div> -->
	<div layout="row" layout-align="center center" style="padding-bottom:0; padding-top:0; background-color:white;">		
		<div layout="column" layout-align="center center" flex>
			<!--<img ng-src="{{Kiosko.modelo1}}"> 
			<img ng-src="img/sellos/cibeles.jpg">
		-PANTALLA 17" <img ng-src="{{'img/sellos/'+Kiosko.nombreModelo1+'.jpg'}}" width="400px;">
		-TABLET 10" 15" <img ng-src="{{'img/sellos/'+Kiosko.nombreModelo1+'.jpg'}}" width="300px;">	
			font monitor 17" 19px y 15px
			font monitor 15" 14px y 11px    -->
			<div class="wrapper">
			<img ng-click="Kiosko.imprimirProtocolo()" ng-src="{{'img/sellos/'+Kiosko.nombreModelo1+'.jpg'}}" width="300px;">	
				<p style="color: black; font-size: 14px; font-weight: bold;">{{Kiosko.fechaInstalacion}}<br>{{Kiosko.evento}} <br>  <br></p>
				<p style="color: black; font-size: 11px; font-weight: bold;">           {{Kiosko.modocod}}{{Kiosko.elmes}}{{Kiosko.pais}}{{Kiosko.elannio}} {{Kiosko.nombre}}-{{Kiosko.clientecod}}-001</p>
				</div>
		</div>

		<div flex layout="row" layout-padding layout-align="center center">		
			<div flex layout="column" layout-padding layout-align="center center">	
				<div flex>
				<!-- <img ng-src="{{Kiosko.modelo1}}"> 
			<img ng-src="img/sellos/cibeles.jpg">
			PANTALLA 17" <img width="110px" height="90px" ng-click="Kiosko.imprimirFilatelia()" src="img/filatelia.png">
			TABLET 10" 100 X 80
			CESTA: AMARILLO: 255,192,0 - VERDE: 53,105,45 - AZUL: 6,61,152 -->
			
					<img width="80px" height="65px" ng-click="Kiosko.imprimirFilatelia()" src="img/filatelia.png">
				</div> 
			 <div flex>
				<img width="70px" height="70px" ng-click="Kiosko.imprimirerror()" src="img/PNG/carrito-error.png">
			</div> 
			</div>
		
			<div flex layout="column" layout-padding layout-align="center center">
				<!-- <div flex>
					<img width="55px" height="55px" ng-click="Kiosko.imprimirProtocolo()" src="img/CORNAMUSA AZUL-cir-allo.png">
				</div> -->

				<div flex>
				<p style="text-align: center; color: gray; font-size: 15px; font-weight: bold;"> {{Kiosko.limite - Kiosko.total | number:2}} €</p>
				<h2 style="text-align: center;"> <strong>Cesta  {{Kiosko.total | number:2}}€</strong></h2>
				<p style="text-align: center; color: firebrick; font-size: 20px; font-weight: bold;">{{Kiosko.elmodo}} </p> 		
				</div>
			</div>
		<div flex layout="column" layout-padding layout-align="center center">
			<div flex>
				<md-button ng-click="Kiosko.imprimirNormal()">
					
						<i class="fa fa-shopping-cart fa-4x" style="color:rgb(53,105,45)" aria-hidden="true"></i>
					
				</md-button>					
			</div>
			<div flex>
				<img width="50px" height="50px" ng-click="Kiosko.reset()" src="img/PNG/CANCELAR.png">
			</div>
			</div>
		</div>

		<div layout="column" layout-align="center center" flex>
			<!--<img ng-src="{{Kiosko.modelo2}}"> -->
			<div class="wrapper">
			<img ng-click="Kiosko.imprimirProtocolo()" ng-src="{{'img/sellos/'+Kiosko.nombreModelo2+'.jpg'}}" width="300px;">	
				<p style="color: black; font-size: 14px; font-weight: bold; text-align: left;">     {{Kiosko.fechaInstalacion}}<br>{{Kiosko.evento}} <br> <br> </p>
				<p style="color: black; font-size: 11px; font-weight: bold; text-align: left;">           {{Kiosko.modocod}}{{Kiosko.elmes}}{{Kiosko.pais}}{{Kiosko.elannio}} {{Kiosko.nombre}}-{{Kiosko.clientecod}}-001</p>
			</div>
			<!--<p style="text-align: center; color: dimgray; font-size: 15px; font-weight: bold;"></p>-->
		</div>
<!--<img ng-src="{{Kiosko.modelo2}}"> -->

	</div>
		<div layout="row" layout-align="center center" style="padding-top:0;">
		<div layout="row" layout-align="center center" flex>
			<md-list flex>
				<md-subheader class="md-no-sticky">
					<div layout="row">
						<div flex="5" layout="row" layout-align="center center"><h5>Subtotal</h5></div>
						<div flex="10" layout="row" layout-align="center center"><h5>Límite</h5></div>
						<div flex="15" layout="row" layout-align="center center"><h5>Cantidad</h5></div>
						<div flex="30" layout="row" layout-align="center center"><h5>Modalidad</h5></div>				
						<div flex="10" layout="row" layout-align="center center"><h5>Precio</h5></div>
						<div flex="15" layout="row" layout-align="center center"><h5>Cantidad</h5></div>
						<div flex="10" layout="row" layout-align="center center"><h5>Límite</h5></div>
						<div flex="5" layout="row" layout-align="center center"><h5>Subtotal</h5></div>
					</div>
				</md-subheader>
			<!-- TIRA 4 TARIFA A -->
				<md-list-item>
					<div flex="5" layout="row" layout-align="center center"><h4 style="font-size: 11px;">{{Kiosko.tarifaAPrecioTira * Kiosko.tarifaAT1Cantidad | number: 2}} €</h4></div>
					<div flex="10" layout="row" layout-align="center center">
						<h4>
							{{ Kiosko.Math.min(Kiosko.Math.floor((Kiosko.limite - Kiosko.total)/Kiosko.tarifaAPrecioTira), (Kiosko.tickets-2-Kiosko.tarifaAT1Cantidad-Kiosko.tarifa4T1Cantidad-Kiosko.tarifaAT2Cantidad-Kiosko.tarifa4T2Cantidad), ((Kiosko.rollo1-Kiosko.tarifaAT1Cantidad*4-Kiosko.tarifa4T1Cantidad*4-Kiosko.tarifaAS1Cantidad-Kiosko.tarifaA2S1Cantidad-Kiosko.tarifaBS1Cantidad-Kiosko.tarifaCS1Cantidad)/4)) }}
						</h4>
					</div>
					<div flex="15" layout="row" layout-align="center center">
						<input min="0" type="number" ng-model="Kiosko.tarifaAT1Cantidad" style="background-color:rgb(230,230,230)">
					</div>
					
					<div flex="30" layout="row" layout-align="center center"><h4 style="font-size:30px;">Tarifa A Tira 4</h4></div>
					<div flex="10" layout="row" layout-align="center center"><h4>{{Kiosko.tarifaAPrecioTira | number: 2}}€</h4></div>
					<div flex="15" layout="row" layout-align="center center">
						<input min="0" type="number" ng-model="Kiosko.tarifaAT2Cantidad" style="background-color:rgb(230,230,230)">
					</div>
					<div flex="10" layout="row" layout-align="center center">
						<h4>
							{{ Kiosko.Math.min(Kiosko.Math.floor((Kiosko.limite - Kiosko.total)/Kiosko.tarifaAPrecioTira), (Kiosko.tickets-2-Kiosko.tarifaAT1Cantidad-Kiosko.tarifa4T1Cantidad-Kiosko.tarifaAT2Cantidad-Kiosko.tarifa4T2Cantidad), (Kiosko.rollo2-Kiosko.tarifaAT2Cantidad*4-Kiosko.tarifa4T2Cantidad*4-Kiosko.tarifaAS2Cantidad-Kiosko.tarifaA2S2Cantidad-Kiosko.tarifaBS2Cantidad-Kiosko.tarifaCS2Cantidad)/4) }}
						</h4>
					</div>
					<div flex="5" layout="row" layout-align="center center"><h4 style="font-size: 11px;">{{Kiosko.tarifaAPrecioTira * Kiosko.tarifaAT2Cantidad | number: 2}} €</h4></div>
					
				</md-list-item>
		<!-- TIRA 4 TARIFAS -->		
				<md-list-item style="background-color:rgb(24,62,117);color:white;">
					<div flex="5" layout="row" layout-align="center center"><h4 style="font-size: 11px;">{{Kiosko.tarifaPrecioTira4 * Kiosko.tarifa4T1Cantidad | number: 2}} €</h4></div>
					<div flex="10" layout="row" layout-align="center center">
						<h4>
							{{ Kiosko.Math.min(Kiosko.Math.floor((Kiosko.limite - Kiosko.total)/Kiosko.tarifaPrecioTira4), (Kiosko.tickets-2-Kiosko.tarifaAT1Cantidad-Kiosko.tarifa4T1Cantidad-Kiosko.tarifaAT2Cantidad-Kiosko.tarifa4T2Cantidad), ((Kiosko.rollo1-Kiosko.tarifaAT1Cantidad*4-Kiosko.tarifa4T1Cantidad*4-Kiosko.tarifaAS1Cantidad-Kiosko.tarifaA2S1Cantidad-Kiosko.tarifaBS1Cantidad-Kiosko.tarifaCS1Cantidad)/4)) }}
						</h4>
					</div>
					<div flex="15" layout="row" layout-align="center center">
						<input min="0" type="number" ng-model="Kiosko.tarifa4T1Cantidad" style="background-color:rgb(24,62,117); font-size:35px; color:white">
					</div>
					
					<div flex="30" layout="row" layout-align="center center"><h4 style="font-size:35px;">Tira de 4 Tarifas</h4></div>
					<div></div>
					<div flex="10" layout="row" layout-align="center center"><h4>{{Kiosko.tarifaPrecioTira4}}€</h4></div>
					<div flex="15" layout="row" layout-align="center center">
						<input min="0" type="number" ng-model="Kiosko.tarifa4T2Cantidad" style="background-color:rgb(24,62,117); font-size:35px; color:white">
					</div>
					<div flex="10" layout="row" layout-align="center center">
						<h4>
							{{ Kiosko.Math.min(Kiosko.Math.floor((Kiosko.limite - Kiosko.total)/Kiosko.tarifaPrecioTira4), (Kiosko.tickets-2-Kiosko.tarifaAT1Cantidad-Kiosko.tarifa4T1Cantidad-Kiosko.tarifaAT2Cantidad-Kiosko.tarifa4T2Cantidad), (Kiosko.rollo2-Kiosko.tarifaAT2Cantidad*4-Kiosko.tarifa4T2Cantidad*4-Kiosko.tarifaAS2Cantidad-Kiosko.tarifaA2S2Cantidad-Kiosko.tarifaBS2Cantidad-Kiosko.tarifaCS2Cantidad)/4) }}
						</h4>
						</div>					
						<div flex="5" layout="row" layout-align="center center"><h4 style="font-size: 11px;">{{Kiosko.tarifaPrecioTira4 * Kiosko.tarifa4T2Cantidad | number: 2}} €</h4></div>
				</md-list-item>
				<md-divider></md-divider>
				<div flex="90" layout="row" layout-align="center center">
						<p  style="color: rgb(24,62,117); font-size: 10x; font-weight: bold;"> </p>
					</div> 
				


		<!-- TARIFA A -->			
				<md-list-item style="background-color:rgb(255,192,0)">
					<div flex="5" layout="row" layout-align="center center"><h4 style="font-size: 11px;">{{Kiosko.tarifaAPrecioSimple * Kiosko.tarifaAS1Cantidad | number: 2}} €</h4></div>
					<div flex="10" layout="row" layout-align="center center">
						<h4>
							{{Kiosko.Math.min(Kiosko.Math.floor((Kiosko.limite - Kiosko.total)/Kiosko.tarifaAPrecioSimple), (Kiosko.rollo1-Kiosko.tarifaAT1Cantidad*4-Kiosko.tarifa4T1Cantidad*4-Kiosko.tarifaAS1Cantidad-Kiosko.tarifaA2S1Cantidad-Kiosko.tarifaBS1Cantidad-Kiosko.tarifaCS1Cantidad)) }}
						</h4>
					</div>
					<div flex="15" layout="row" layout-align="center center">
						<input min="0" type="number" ng-model="Kiosko.tarifaAS1Cantidad">
					</div>
					
					<div flex="30" layout="row" layout-align="center center"><h4 style="font-size:30px;">Tarifa A</h4></div>

					<div flex="10" layout="row" layout-align="center center"><h4>{{Kiosko.tarifaAPrecioSimple}}€</h4></div>
					
					<div flex="15" layout="row" layout-align="center center">
						<input min="0" type="number" ng-model="Kiosko.tarifaAS2Cantidad">
					</div>
					<div flex="10" layout="row" layout-align="center center">
						<h4>
							{{Kiosko.Math.min(Kiosko.Math.floor((Kiosko.limite - Kiosko.total)/Kiosko.tarifaAPrecioSimple), (Kiosko.rollo2-Kiosko.tarifaAT2Cantidad*4-Kiosko.tarifa4T2Cantidad*4-Kiosko.tarifaAS2Cantidad-Kiosko.tarifaA2S2Cantidad-Kiosko.tarifaBS2Cantidad-Kiosko.tarifaCS2Cantidad)) }}
						</h4>
					</div>
					<div flex="5" layout="row" layout-align="center center" style="font-size: 11px;"><h4>{{Kiosko.tarifaAPrecioSimple * Kiosko.tarifaAS2Cantidad | number: 2}} €</h4></div>
				</md-list-item>
		<!-- TARIFA A2 -->			
				<md-list-item>
					<div flex="5" layout="row" layout-align="center center"><h4 style="font-size: 11px;">{{Kiosko.tarifaA2PrecioSimple * Kiosko.tarifaA2S1Cantidad | number: 2}} €</h4></div>
					<div flex="10" layout="row" layout-align="center center">
						<h4>
							{{Kiosko.Math.min(Kiosko.Math.floor((Kiosko.limite - Kiosko.total)/Kiosko.tarifaA2PrecioSimple), (Kiosko.rollo1-Kiosko.tarifaAT1Cantidad*4-Kiosko.tarifa4T1Cantidad*4-Kiosko.tarifaAS1Cantidad-Kiosko.tarifaA2S1Cantidad-Kiosko.tarifaBS1Cantidad-Kiosko.tarifaCS1Cantidad)) }}
						</h4>
					</div>
					<div flex="15" layout="row" layout-align="center center">
						<input min="0" type="number" ng-model="Kiosko.tarifaA2S1Cantidad" style="background-color:rgb(230,230,230)">
					</div>
					
					<div flex="30" layout="row" layout-align="center center"><h4 style="font-size:30px;">Tarifa A2</h4></div>

					<div flex="10" layout="row" layout-align="center center"><h4>{{Kiosko.tarifaA2PrecioSimple}}€</h4></div>
					<div flex="15" layout="row" layout-align="center center">
						<input min="0" type="number" ng-model="Kiosko.tarifaA2S2Cantidad" style="background-color:rgb(230,230,230)">
					</div>
					<div flex="10" layout="row" layout-align="center center">
						<h4>
							{{Kiosko.Math.min(Kiosko.Math.floor((Kiosko.limite - Kiosko.total)/Kiosko.tarifaA2PrecioSimple), (Kiosko.rollo2-Kiosko.tarifaAT2Cantidad*4-Kiosko.tarifa4T2Cantidad*4-Kiosko.tarifaAS2Cantidad-Kiosko.tarifaA2S2Cantidad-Kiosko.tarifaBS2Cantidad-Kiosko.tarifaCS2Cantidad)) }}
						</h4>
					</div>
					<div flex="5" layout="row" layout-align="center center"><h4 style="font-size: 11px;">{{Kiosko.tarifaA2PrecioSimple * Kiosko.tarifaA2S2Cantidad | number: 2}} €</h4></div>
					
				</md-list-item>
		<!-- TARIFA B -->			
				<md-list-item>
					<div flex="5" layout="row" layout-align="center center"><h4 style="font-size: 11px;">{{Kiosko.tarifaBPrecioSimple * Kiosko.tarifaBS1Cantidad | number: 2}} €</h4></div>
					<div flex="10" layout="row" layout-align="center center">
						<h4>
							{{Kiosko.Math.min(Kiosko.Math.floor((Kiosko.limite - Kiosko.total)/Kiosko.tarifaBPrecioSimple), (Kiosko.rollo1-Kiosko.tarifaAT1Cantidad*4-Kiosko.tarifa4T1Cantidad*4-Kiosko.tarifaAS1Cantidad-Kiosko.tarifaA2S1Cantidad-Kiosko.tarifaBS1Cantidad-Kiosko.tarifaCS1Cantidad)) }}
						</h4>
					</div>
					<div flex="15" layout="row" layout-align="center center">
						<input min="0" type="number" ng-model="Kiosko.tarifaBS1Cantidad" style="background-color:rgb(230,230,230)">
					</div>
					
					<div flex="30" layout="row" layout-align="center center"><h4 style="font-size:30px;">Tarifa B</h4></div>

					<div flex="10" layout="row" layout-align="center center"><h4>{{Kiosko.tarifaBPrecioSimple}}€</h4></div>
					<div flex="15" layout="row" layout-align="center center">
						<input min="0" type="number" ng-model="Kiosko.tarifaBS2Cantidad" style="background-color:rgb(230,230,230)">
					</div>
					<div flex="10" layout="row" layout-align="center center">
						<h4>
							{{Kiosko.Math.min(Kiosko.Math.floor((Kiosko.limite - Kiosko.total)/Kiosko.tarifaBPrecioSimple), (Kiosko.rollo2-Kiosko.tarifaAT2Cantidad*4-Kiosko.tarifa4T2Cantidad*4-Kiosko.tarifaAS2Cantidad-Kiosko.tarifaA2S2Cantidad-Kiosko.tarifaBS2Cantidad-Kiosko.tarifaCS2Cantidad)) }}
						</h4>
					</div>
					<div flex="5" layout="row" layout-align="center center"><h4 style="font-size: 11px;">{{Kiosko.tarifaBPrecioSimple * Kiosko.tarifaBS2Cantidad | number: 2}} €</h4></div>
					
				</md-list-item>
		<!-- TARIFA C -->		
				<md-list-item>
					<div flex="5" layout="row" layout-align="center center"><h4 style="font-size: 11px;">{{Kiosko.tarifaCPrecioSimple * Kiosko.tarifaCS1Cantidad | number: 2}} €</h4></div>
					<div flex="10" layout="row" layout-align="center center">
						<h4>
							{{Kiosko.Math.min(Kiosko.Math.floor((Kiosko.limite - Kiosko.total)/Kiosko.tarifaCPrecioSimple), (Kiosko.rollo1-Kiosko.tarifaAT1Cantidad*4-Kiosko.tarifa4T1Cantidad*4-Kiosko.tarifaAS1Cantidad-Kiosko.tarifaA2S1Cantidad-Kiosko.tarifaBS1Cantidad-Kiosko.tarifaCS1Cantidad)) }}
						</h4>
					</div>
					<div flex="15" layout="row" layout-align="center center">
						<input min="0" type="number" ng-model="Kiosko.tarifaCS1Cantidad" style="background-color:rgb(230,230,230)">
					</div>
					
					<div flex="30" layout="row" layout-align="center center"><h4 style="font-size:30px;">Tarifa C</h4></div>

					<div flex="10" layout="row" layout-align="center center"><h4>{{Kiosko.tarifaCPrecioSimple}}€</h4></div>
					<div flex="15" layout="row" layout-align="center center">
						<input min="0" type="number" ng-model="Kiosko.tarifaCS2Cantidad" style="background-color:rgb(230,230,230)">
					</div>
					<div flex="10" layout="row" layout-align="center center">
						<h4>
							{{Kiosko.Math.min(Kiosko.Math.floor((Kiosko.limite - Kiosko.total)/Kiosko.tarifaCPrecioSimple), (Kiosko.rollo2-Kiosko.tarifaAT2Cantidad*4-Kiosko.tarifa4T2Cantidad*4-Kiosko.tarifaAS2Cantidad-Kiosko.tarifaA2S2Cantidad-Kiosko.tarifaBS2Cantidad-Kiosko.tarifaCS2Cantidad)) }}
						</h4>
					</div>
					<div flex="5" layout="row" layout-align="center center"><h4 style="font-size: 11px;">{{Kiosko.tarifaCPrecioSimple * Kiosko.tarifaCS2Cantidad | number: 2}} €</h4></div>
					
				</md-list-item>
		<!-- FIN TARIFAS -->		

				<md-divider></md-divider>
				<md-divider></md-divider>
			</md-list>
		</div>
		
	</div>

	<div layout="row" layout-align="center center" style="padding:0;">
		<div flex layout="row" layout-align="center center">
			<p style="color:rgb(24,62,117); font-size: 19px;">{{Kiosko.rollo1 
			-Kiosko.tarifaAT1Cantidad*4
			-Kiosko.tarifa4T1Cantidad*4
			-Kiosko.tarifaAS1Cantidad
			-Kiosko.tarifaA2S1Cantidad
			-Kiosko.tarifaBS1Cantidad
			-Kiosko.tarifaCS1Cantidad
			}} 
			 "{{Kiosko.nombreModelo1}}" (Venta: {{Kiosko.rollo1ant}})</p>
		</div>
		<div flex layout="row" layout-align="center center">
			<p style="color:rgb(24,62,117);">Tickets: {{Kiosko.tickets-2-Kiosko.tarifaAT1Cantidad-Kiosko.tarifa4T1Cantidad-Kiosko.tarifaAT2Cantidad-Kiosko.tarifa4T2Cantidad}} (Utilizados: {{Kiosko.ticketsventa}})</p>
		</div>

		<div flex layout="row" layout-align="center center">
			<p style="color:rgb(24,62,117); font-size: 19px;">{{Kiosko.rollo2 
			-Kiosko.tarifaAT2Cantidad*4
			-Kiosko.tarifa4T2Cantidad*4
			-Kiosko.tarifaAS2Cantidad
			-Kiosko.tarifaA2S2Cantidad
			-Kiosko.tarifaBS2Cantidad
			-Kiosko.tarifaCS2Cantidad
			}} 
			 "{{Kiosko.nombreModelo2}}" (Venta: {{Kiosko.rollo2ant}})</p>
		</div>
	</div>
	

</div>


