kiosko{
	.md-subheader{
		background-color: #ECC830;
		color: white;
	}
	h5{
		margin-bottom: 0;
	}
	.md-button h3{
		font-family: OpenSansRegular;
		font-weight: normal;
		color: #212F5D;
	}
	.fondo{
		padding:0;
		margin: 30px;
		background-color: rgb(255,192,0);
		border: 3px solid black;
	}
	h5{
	margin-top: 2px;
	margin-bottom: 2px;
	}
	h4{
	margin-top: 2px;
	margin-bottom: 2px;
	}
	.md-subheader .md-subheader-inner{
	padding-top:0;
	padding-bottom:0;
	}
	.md-no-sticky.md-subheader._md{
	background-color: rgb(24,62,117);
	}
	p{
	margin-top:0;
	}
	input{
		font-size: 30px; 
		font-weight: bold;
	}

	body {
  margin: 0;
}

.wrapper {
  position: relative;
}

.wrapper p {
  bottom: -10%;
  color: black;
  font-family: arial;
  font-size: 2em;
  left: 5;
  padding: 1.25em 1.75em;
  position: absolute;
}

}
