<div layout="column">
	<div
	ngf-select
	ngf-change="SubirImagen.addImages($files)"
	ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}"
	class="drop-box"
	ngf-multiple="false"
	ngf-allow-dir="false"
	ngf-accept="'image/*'"
	ngf-drop-available="true"
	ng-hide="SubirImagen.cropImgSrc">
	<div>Haz click aquí para seleccionar la imagen</div>
	<div>
		<strong>O</strong>
	</div>
	<div>Arrastra la imagen aquí</div>
</div>
<div ng-show="SubirImagen.cropImgSrc" layout="column" class="ng-crop">
	<div>
		<img width="150px;" src="{{SubirImagen.cropImgSrc}}">
	</div>
	<md-button ng-click="SubirImagen.save()" class="md-primary md-raised">
		Guardar Imagen
	</md-button>
	<md-button ng-click="SubirImagen.reset()" class="md-raised">
		Cancelar
	</md-button>
</div>